<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ (c) 2016-2018 Swirlds, Inc.
  ~
  ~ This software is the confidential and proprietary information of
  ~ Swirlds, Inc. ("Confidential Information"). You shall not
  ~ disclose such Confidential Information and shall use it only in
  ~ accordance with the terms of the license agreement you entered into
  ~ with Swirlds.
  ~
  ~ SWIRLDS MAKES NO REPRESENTATIONS OR WARRANTIES ABOUT THE SUITABILITY OF
  ~ THE SOFTWARE, EITHER EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
  ~ TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A
  ~ PARTICULAR PURPOSE, OR NON-INFRINGEMENT. SWIRLDS SHALL NOT BE LIABLE FOR
  ~ ANY DAMAGES SUFFERED BY LICENSEE AS A RESULT OF USING, MODIFYING OR
  ~ DISTRIBUTING THIS SOFTWARE OR ITS DERIVATIVES.
  -->

<Configuration status="WARN" packages="com.amazonaws.services.lambda.runtime.log4j2">
	<Filters>
		<!-- In the following, enable a marker with onMatch="ACCEPT" and disable with onMatch="DENY". -->
		<!-- More markers can be added, but ensure that every onMismatch="NEUTRAL", except the last is "DENY". -->
		<MarkerFilter marker="EXCHANGE"     onMatch="ACCEPT"   onMismatch="NEUTRAL"/>
	</Filters>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %6r %t %msg%n"/>
		</Console>
		<RandomAccessFile immediateFlush="true" name="fileLog" fileName="/tmp/exchange.log" append="true">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %6r %t %msg%n</Pattern>
			</PatternLayout>
		</RandomAccessFile>
		<Lambda name="Lambda">
			<PatternLayout>
				<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %X{AWSRequestId} %-5p %c{1}:%L - %m%n</pattern>
			</PatternLayout>
		</Lambda>
		<!-- uncomment the following to write to a log with no buffer, but writing everything immediately -->
		<!-- <File immediateFlush="true" bufferedIO="false" bufferSize="0" name="stepsLog" fileName="steps.log" append="false"> -->
		<!-- <PatternLayout> -->
		<!-- <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %msg%n</Pattern> -->
		<!-- </PatternLayout> -->
		<!-- </File> -->
	</Appenders>
	<Loggers>
		<Root level="all">
			<AppenderRef ref="fileLog"/>
			<AppenderRef ref="Lambda" />
			<!-- uncomment the following to also enable output to standard output -->
			<!-- <AppenderRef ref="Console"/> -->

			<!-- uncomment the following to write to a log with no buffer, but writing everything immediately -->
			<!-- <AppenderRef ref="stepsLog"/> -->
		</Root>
	</Loggers>
</Configuration>